<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Car Rental REST Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>pl.lodz.p.carrental.CarRentalApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Car Rental REST Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


    <!-- security configuration -->

    <!-- allow only users that belong to cr-users role -->
    <security-constraint>
        <display-name>Authentication Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>CarRental REST service</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>cr-user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>Regular user</description>
        <role-name>cr-user</role-name>
    </security-role>

    <!-- forcing DIGEST authentication -->
    <login-config>
        <auth-method>DIGEST</auth-method>
        <realm-name>Sample_Realm</realm-name>
    </login-config>

</web-app>
